

<header class="d-flex align-items-center justify-content-between py-3 px-3">

  <div class="d-flex align-items-center gap-2">
    <mat-icon style="cursor: pointer; color: aliceblue;" (click)="toggleMenu()">menu</mat-icon>
    <span class="fw-bold">My App</span>
  </div>

  <ul class="nav justify-content-center">
    <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/home">Home</a></li>
    <li><a href="#" class="nav-link px-2" routerLink="/admin"
      *ngIf="user.roleEqual(['Admin'])">Admin Dashboard</a></li>
    <li><a href="#" class="nav-link px-2" routerLink="/user"
      *ngIf="user.roleEqual(['User'])">User Dashboard</a></li>
  </ul>

  <div>
    <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success  me-2" routerLink="/login">Login</button>
    <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </div>

</header>